.git
.gitignore
.DS_Store
.editorconfig
.env
.env.*.local
/.docker
/node_modules
/vendor
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*
/public/storage
.phpunit.result.cache
npm-debug.log
yarn-error.log
.vscode
.idea
*.pem
*.key
*.pub
*.swp
*.swo
*~
.project
.c9
.DS_Store
Thumbs.db
